{% extends "base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <h1>User List</h1>

    <a href="{{ url_for('user_new_form') }}" class="action-link">Add a New User</a>

    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Display Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.display_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
